<div class="panel panel-default">
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>Time</th>
        <th>Min (F/C)</th>
        <th>Max (F/C)</th>
        <th>Summary</th>
      </tr>
    </thead>
      {{#collection tag="tbody"}}
        <tr>
          <td>{{formattedTime time "ddd - MMMM DD"}}</td>
          <td>{{temperatureMin}} / {{FToC temperatureMin}}</td>
          <td>{{temperatureMax}} / {{FToC temperatureMax}}</td>
          <td>{{summary}}</td>
        </tr>
      {{/collection}}
  </table>
</div>
